#result{
  height: 20px;
}
form 
{
 margin: 10% auto;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 border:2px  outset inset;
 background-color:rgb(221, 230, 105);
}




